
.DS_Store
.ipynb_checkpoints/summary_descriptive_stats-checkpoint.ipynb
.ipynb_checkpoints/cleaning-checkpoint.ipynb
.ipynb_checkpoints/milestone2-checkpoint.ipynb
.ipynb_checkpoints/phase4-checkpoint.ipynb
.ipynb_checkpoints/phase4-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Chess Games Win Likelihood Prediction Project-checkpoint.ipynb
.ipynb_checkpoints/Final Report Submission_check-checkpoint.ipynb
.ipynb_checkpoints/INFO 2950 Data Cleaning-checkpoint.ipynb
.ipynb_checkpoints/p4_UPDATED-checkpoint.ipynb
