
.DS_Store
.ipynb_checkpoints/summary_descriptive_stats-checkpoint.ipynb
.ipynb_checkpoints/cleaning-checkpoint.ipynb
.ipynb_checkpoints/milestone2-checkpoint.ipynb
.ipynb_checkpoints/phase4-checkpoint.ipynb
